.header {
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    color: #ffffff;
    background-color: #415c6b;
    border-radius: 8px;
    position: sticky;
    top: .5rem;
    z-index: 1;
}

@media (max-width: 768px) {
    .header {
        padding: .5rem 1rem;
    }
}