.icon {
  transition: transform 0.3s ease;
  font-size: 18px;
  cursor: pointer;
  &.rotated {
    transform: rotate(180deg);
  }
}

.accordion_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #6894ad;
  color: #ffffff;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.accordion_body {
  overflow: hidden;
  transition: max-height 0.3s ease; /* Transición suave */
}

.accordion_body.closed {
  max-height: 0;
  visibility: hidden; /* Opcional para ocultar el contenido visualmente */
}

.accordion_body.open {
  max-height: 500px; /* Ajusta el valor según el contenido esperado */
  visibility: visible;
}

.accordion_header.open {
  background-color: #4d6e81;
  box-shadow: 0px 8px 10px rgba($color: #000000, $alpha: 0.2);
}
