.containerLayout {
    padding: 2rem;
}

.videoContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  iframe {
    max-width: 100%;
    height: auto;
  }
  

@media (max-width: 768px) {
    .containerLayout {
        padding: .5rem;
    }
}